{% extends "Base.html.jinja" %}

{% block Page %}
    <header>
        {{ server.name }}
    </header>
    <body>
        {{ server.name }}
        {{ server.server.folder }}
        {{ server.args }}
    </body>
{% endblock %}